<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @branch_manager.name %>
</p>

<%= link_to 'Edit', edit_branch_manager_path(@branch_manager) %> |
<%= link_to 'Back', branch_managers_path %>
